NODE_ENV=<DEVELOPMENT_ENVIROMENT>
PORT=<PORT>
DATABASE=<DATABASE_URL_HERE_WITH_PASSWORD_AS_<PASSWORD>>
DATABASE_USERNAME=<DATABASE_USERNAME>
DATABASE_PASSWORD=<DATABASE_PASSWORD>

ALLOWED_RECIPE_TAGS=<RELEVENT_RECIPE_TAGS>

JWT_SECRET=<JWT_SECRET>
JWT_EXPIRES_IN=<TIME_JWT_EXPIRES>

ENCRYPT_KEY=<SECRET_KEY_FOR_ENCRYPTION>

JWT_COOKIE_EXPIRES_IN=<TIME_JWT_COOKIE_EXPIRES>

EMAIL_HOST=<EMAIL_HOST>
EMAIL_PORT=<EMAIL_PORT>
EMAIL_USERNAME=<EMAIL_USERNAME>
EMAIL_PASSWORD=<EMAIL_PASSWORD>
EMAIL=<EMAIL_ADDRESS>

PRODUCTION_EMAIL=<OUTLOOK_USERNAME>
PRODUCTION_EMAIL_PASSWORD=<OUTLOOK_PASSWORD>

DAYS_UNTIL_DELETION=<DAYS_UNTIL_USER_IS_DELETED>

API_VERSION=<CURRENT_API_VERSION>

